.page-container {
	margin-bottom: 5rem;

	@include breakpoint-up(large){
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 1fr 1fr;
		gap: 1.75rem;
		align-items: stretch;
		grid-template-areas: 
		"prof timecards"
		"prof timecards";
	}

	.profile{

		&__top {

			@include breakpoint-up(large){
				padding: 2.1875rem 5rem 7.563rem 2rem;
				flex-direction: column;
				align-items: start;
			}

			img {
				@include breakpoint-up(large){
					width: 5rem;
					height: 5rem;
					margin-bottom: 2.8125rem;
				}
			}

			.text {

				h1 {
					@include breakpoint-up(large){
						font-size: 2.5rem;
					}
				}
			}
		}

		&__bottom {
			@include breakpoint-up(large){
				flex-direction: column;
				justify-content: start;
				height: 38%;
			}

			a {

				@include breakpoint-up(large){
					margin-bottom: 2rem;
				}
			}
		}

		@include breakpoint-up(large){
			grid-area: prof;
			margin-bottom: 0;
		}
	}

	.timecards {
		@include breakpoint-up(large){
			grid-area: timecards;

			display:grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-gap: 1.75rem;
		}

		.card-wrapper {
			@include breakpoint-up(large){
				padding: 0;
				margin-bottom: 0;
			}

			.background {
				@include breakpoint-up(large){
					margin: 0;
				}
			}

			.timecard {
				@include breakpoint-up(large){
					margin-bottom: 0;
					height: 84%;
				}

				.top {

					@include breakpoint-up(large){
						margin-bottom: 2.5rem;
					}

					p {
						@include breakpoint-up(large){
							margin: 0;
						}
					}
				}

				.bottom {
					@include breakpoint-up(large){
						flex-direction: column;
						align-items: start;
						justify-content: center;
					}

					h2 {

						@include breakpoint-up(large){
							font-size: 3.5625rem;
							margin-bottom: 1.5rem;
						}
					}

				}
			}
			
		}

		&:not(:last-child) {

			@include breakpoint-up(large){
				margin: 0;
			}
		}
	}
}